[submodule "ras_resource_lib"]
	path = ras_resource_lib
	url = git@github.com:ras-ros2/ras_resource_lib.git
[submodule "ras_aws_transport"]
	path = ras_aws_transport
	url = git@github.com:ras-ros2/ras_aws_transport.git
